SendGrid
    - ApiKey=some.random.key
    - FromEmail=andyansong3@gmail.com
    - FromName=SafeZone Notifications
GmailSmtpSettings
    - Email=andyansong82@gmail.com,
    - FromName=SafeZone,
    - AppPassword=your-16-char-app-password
paystack
    - baseUrl=https://api.paystack.co,
    - callbackUrl=
